* {
    font-family: 'Open Sans', sans-serif;
    font-size: 100%;
    box-sizing: border-box;
}

a {
    color: black;
    text-decoration: none;
}

main a:hover, a:focus {
    text-decoration: underline;
}

nav a {
    color: dimgray;
}

nav {
    background-color: whitesmoke;
}

nav ul {
    display: flex;
    justify-content: center;
    align-content: center;
    list-style: none;
}

nav li {
    padding: 18px;
    text-transform: uppercase;
}

nav li:hover, li:focus {
    background-color: white;
}

@media only screen and (max-width: 800px) {
    nav ul {
        flex-direction: column;
    }
    nav li {
        padding: 4px;
    }
}

.logo {
    text-align: center;
}

.logo h1 {
    font-family: 'Fugaz One', cursive;
    font-size: 3em;
    font-weight: normal;
    text-align: center;
    display: inline;
}

.logo h2 {
    font-size: 2em;
    font-weight: normal;
    color: dimgray;
    text-align: center;
    display: inline;
    text-transform: lowercase;
}

@media only screen and (max-width: 800px) {
    .logo {
        padding-bottom: 32px;
    }
    .logo h1, h2 {
        display: block;
    }
}

.top {
    display: grid;
    grid-template-areas: 
    'one one two three'
    'one one five five'
    'one one five five'
    'four four five five';
    grid-gap: 1em;
}

@media only screen and (max-width: 800px) {
    .top {
        grid-template-areas:
        'one'
        'two'
        'three'
        'four'
        'five';
    }
}

.top article {
    border-style: solid;
    border-width: 1px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.one {
    background-image: linear-gradient(dimgray,white);
    grid-area: one;
    font-size: 2em;
    height: calc(100vw / 4);
}

.two {
    background-image: linear-gradient(to bottom right,darkseagreen,whitesmoke);
    grid-area: two;
    height: calc(100vw / 6);
    font-size: 1.5em;
}

.three {
    background-image: linear-gradient(to left,yellow,white);
    grid-area: three;
    height: calc(100vw / 6);
    font-size: 1.5em;
}

.four {
    background-image: linear-gradient(to top left,plum,white);
    grid-area: four;
    height: calc(100vw / 6);
    font-size: 1.5em;
    font-weight: bold;
}

.five {
    background-image: linear-gradient(to right,cornflowerblue,whitesmoke);
    grid-area: five;
    font-size: 2em;
    height: calc(100vw / 4);
}

.popular {
    background-color: whitesmoke;
    padding-bottom: 24px;
}

.popular h3 {
    text-transform: uppercase;
    text-align: center;
    font-size: 1.5em;
    color: dimgray;
    padding: 42px;
}

.popular ol {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.popular li {
    max-width: 150px;
}

@media only screen and (max-width: 800px) {
    .popular ol {
        flex-direction: column;
    }
    .popular li {
        max-width: 100%;
        padding-bottom: 12px;
    }
}

.latest {
    padding: 64px 128px;
}

.latest h3 {
    font-size: 2em;
}

.latest ul {
    padding-left: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2em;
}

.latest li {
    display: inline;
}

.latest h4 {
    display: inline;
    padding-right: 4px;
    text-transform: uppercase;
    color: cornflowerblue;
}

@media only screen and (max-width: 800px) {
    .latest {
        padding: 12px;
    }
    .latest ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

.channels {
    background-color: whitesmoke;
    padding: 64px 0;
}

.channels h3 {
    font-size: 2.5em;
}

.channels ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    padding-left: 0;
}

.channels li {
    width: 250px;
    height: 200px;
}

.channels h4 {
    font-size: 1.6em;
}

.channels a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

@media only screen and (max-width: 800px) {
    .channels h3 {
        text-align: center;
    }
    .channels ul {
        flex-direction: column;
    }
    .channels li {
        width: 100%;
    }
}

.plugged {
    background-image: linear-gradient(to bottom right, blueviolet, hotpink);
}

.neural {
    background-image: linear-gradient(to bottom left, dimgray, purple);
}

.shift {
    background-image: linear-gradient(to left, yellow, gray);
}

.growth {
    background-image: linear-gradient(aquamarine, blue);
}

.hardfork {
    background-image: linear-gradient(to right, aquamarine, purple);
}

.newsletter {
    background-image: linear-gradient(to right,deeppink,black,deeppink);
    color: white;
    padding: 64px;
    text-align: center;
}

.newsletter h3 {
    font-size: 3em;
}

.newsletter input {
    padding: 12px;
    width: 50%;
}

.newsletter .submit {
    background-color: deeppink;
    text-transform: uppercase;
    width: 10%;
    display: inline-block;
    border-color: deeppink;
    border-radius: 3px;
}

@media only screen and (max-width: 800px) {
    .newsletter input {
        display: block;
        width: 100%;
    }
    .newsletter .submit {
        width: 100%;
    }
}

.work {
    padding: 128px;
}

.work h3 {
    text-transform: uppercase;
    font-size: 1.3em;
    color: deeppink;
}

.work h4 {
    color: black;
    font-size: 2em;
}

.work p {
    color: dimgray;
    max-width: 624px;
}

.work button {
    padding: 12px;
    background-color: darkturquoise;
    color: white;
    text-transform: uppercase;
    border-width: 0;
    border-radius: 8px;
}

@media only screen and (max-width: 800px) {
    .work {
        padding: 12px;
        text-align: center;
    }
}

footer {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 64px;
}

@media only screen and (max-width: 800px) {
    footer {
        flex-direction: column;
        align-items: space-around;
    }
}

footer dl {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

footer dt {
    padding-bottom: 12px;
    text-transform: uppercase;
    font-size: 1.2em;
}

footer dd {
    margin: 0;
}

footer a {
    color: darkturquoise;
}

footer a:hover, a:focus {
    text-decoration: underline;
}
